<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon name="logo-nodejs" class="mi-icono"></ion-icon>
      <strong class="texto-vehiculos">Sobre Nosotros</strong>
  </ion-toolbar>
  <ion-toolbar color="primary" style="height: 5px;">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">nosotros</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Hola amigo</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <p>
          Bienvenido a nuestra aplicación de aparcamiento. En Parqueadero JS, nos dedicamos a simplificar y mejorar tu experiencia al buscar y reservar espacios de estacionamiento.
        </p>
  
        <h3>Nuestra misión</h3>
        <p>
          Nuestra misión es hacer que el proceso de estacionamiento sea más conveniente y sin complicaciones para nuestros usuarios. Queremos ahorrarte tiempo y esfuerzo al proporcionarte una solución fácil de usar para encontrar y asegurar un lugar de estacionamiento de manera rápida y segura.
        </p>
  
        <h3>Cómo funciona</h3>
        <p>
          En Parqueadero JS, hemos desarrollado una plataforma intuitiva que te permite buscar, comparar y reservar espacios de estacionamiento en tiempo real. Nuestra aplicación te muestra una amplia selección de opciones de estacionamiento cercanas, desde estacionamientos públicos hasta plazas privadas, con detalles sobre precios, disponibilidad y ubicación.
        </p>
  
        <p>
          Una vez que encuentres el espacio de estacionamiento que se ajuste a tus necesidades, puedes reservarlo y pagar de manera segura a través de nuestra aplicación. También ofrecemos funciones adicionales, como navegación hasta el estacionamiento seleccionado y recordatorios de tiempo de vencimiento de la reserva.
        </p>
  
        <h3>Nuestro compromiso con la calidad</h3>
        <p>
          En Parqueadero JS, nos esforzamos por brindarte una experiencia de estacionamiento de alta calidad. Trabajamos en colaboración con proveedores confiables y establecimientos de estacionamiento de renombre para garantizar que recibas un servicio confiable y seguro en cada reserva.
        </p>
  
        <p>
          Valoramos tus comentarios y comentarios, y estamos constantemente mejorando nuestra aplicación para ofrecerte nuevas funciones y una experiencia aún mejor.
        </p>
  
        <h3>Equipo</h3>
        <p>
          Detrás de Parqueadero JS, hay un equipo apasionado y dedicado que se esfuerza por brindarte la mejor experiencia de estacionamiento posible. Nuestro equipo está compuesto por profesionales con experiencia en el ámbito de la tecnología y la movilidad, comprometidos a hacer que tus desplazamientos sean más fáciles y eficientes.
        </p>
  
        <p>
          ¡Únete a nosotros! Descarga nuestra aplicación y únete a nuestra comunidad de usuarios satisfechos. Estamos aquí para ayudarte a encontrar el lugar de estacionamiento perfecto, ahorrarte tiempo y mejorar tu experiencia de estacionamiento.
        </p>
      </ion-card-content>
    </ion-card>
    <ion-button  (click)="paginahome()">
      <ion-icon slot="start" name="arrow-back-circle-outline"></ion-icon>Volver
    </ion-button>
    
  </ion-content>
</ion-content>
