<ion-content class="background">
  <ion-header [translucent]="true">
    <ion-toolbar color="write">
      <ion-icon name="logo-nodejs" class="mi-icono"></ion-icon>
              <strong class="texto-empleados">ESTACIONAR</strong>
     
    </ion-toolbar>
    <ion-toolbar color="primary" style="height: 5px;">
    </ion-toolbar>
  </ion-header>
  

<ion-content [fullscreen]="true">




  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">estacionar</ion-title>
    </ion-toolbar>
  </ion-header>


<div  class="contenedor-imagen1">
 
  <ion-img src="assets/icon/descarga.png" class="centrado"></ion-img>
  <ion-toggle aria-label="Success toggle" color="success" [checked]="true"></ion-toggle>

  <ion-img src="assets/icon/descarga.png" class="centrado"></ion-img>
  <ion-toggle aria-label="Success toggle" color="success" [checked]="true"></ion-toggle>

  <ion-img src="assets/icon/descarga.png" class="centrado"></ion-img>
  <ion-toggle aria-label="Success toggle" color="success" [checked]="true"></ion-toggle>
</div>

<div  class="contenedor-imagen1">
 
  <ion-img src="assets/icon/descarga.png" class="centrado"></ion-img>
  <ion-toggle aria-label="Success toggle" color="success" [checked]="true"></ion-toggle>

  <ion-img src="assets/icon/descarga.png" class="centrado"></ion-img>
  <ion-toggle aria-label="Success toggle" color="success" [checked]="true"></ion-toggle>

  <ion-img src="assets/icon/descarga.png" class="centrado"></ion-img>
  <ion-toggle aria-label="Success toggle" color="success" [checked]="true"></ion-toggle>
</div>


<div  class="contenedor-imagen1">
 
  <ion-img src="assets/icon/descarga2.png" class="centrado"></ion-img>
  <ion-toggle aria-label="Success toggle" color="success" [checked]="true"></ion-toggle>

  <ion-img src="assets/icon/descarga2.png" class="centrado"></ion-img>
  <ion-toggle aria-label="Success toggle" color="success" [checked]="true"></ion-toggle>

  <ion-img src="assets/icon/descarga2.png" class="centrado"></ion-img>
  <ion-toggle aria-label="Success toggle" color="success" [checked]="true"></ion-toggle>
</div>

<div  class="contenedor-imagen1">
 
  <ion-img src="assets/icon/descarga2.png" class="centrado"></ion-img>
  <ion-toggle aria-label="Success toggle" color="success" [checked]="true"></ion-toggle>

  <ion-img src="assets/icon/descarga2.png" class="centrado"></ion-img>
  <ion-toggle aria-label="Success toggle" color="success" [checked]="true"></ion-toggle>

  <ion-img src="assets/icon/descarga2.png" class="centrado"></ion-img>
  <ion-toggle aria-label="Success toggle" color="success" [checked]="true"></ion-toggle>
</div>


<ion-button shape="round" (click)="paginaprincipal()">
  <ion-icon slot="start" name="arrow-back-circle-outline"></ion-icon>Volver
</ion-button>

</ion-content>
