<!-- <ion-content [fullscreen]="true" class="centered-content" class="background">
  <ion-header collapse="condense">

  </ion-header>
    <div class="contenedor-login1">
      <ion-item>
        <form [formGroup]="formularioLogin" class="form-wrapper">
                      
          <ion-item>
            <div class="contenedor-imagen3" >
              <ion-img src="assets/icon/images.png" class="centrado"></ion-img>
            </div>
          </ion-item>  
  
          <ion-item>
            <ion-icon name="logo-nodejs" class="mi-icono"></ion-icon>
            <strong class="texto-parqueadero">Inicio de Sesion</strong>
          </ion-item>  
  
          <ion-item>
            <ion-label position="floating">Usuario</ion-label>
            <ion-input formControlName="nombre" style="color: #007bff;"></ion-input>
          </ion-item>
      
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input formControlName="password" type="password" style="color: #007bff;"></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-button (click)="ingresar()">
              <ion-icon name="people-circle-outline"></ion-icon>Ingresar
            </ion-button>
  
                             
            <ion-button (click)="paginaregistro()">
              <ion-icon name="person-add"></ion-icon>Registrarse
            </ion-button>
          </ion-item>
        </form>
      </ion-item>      
    </div>
</ion-content> 




 -->





 <ion-content [fullscreen]="true" class="centered-content" class="background">
  <ion-header collapse="condense">

  </ion-header>
    <div class="contenedor-login1">
      <ion-item>
        <form [formGroup]="formularioLogin" class="form-wrapper1">
                      
          <ion-item>
            <div class="contenedor-imagen3" >
              <ion-img src="assets/icon/images.png" class="centrado"></ion-img>
            </div>
          </ion-item>  
  
          <ion-item>
            <ion-icon name="logo-nodejs" class="mi-icono-1"></ion-icon>
            <strong class="texto-parqueadero">Inicio de Sesion</strong>
          </ion-item>  
  
          <ion-item>
            <ion-label position="floating">Usuario</ion-label>
            <ion-input formControlName="nombre" style="color: #007bff;"></ion-input>
          </ion-item>
      
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input formControlName="password" type="password" style="color: #007bff;"></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-button (click)="ingresar()">
              <ion-icon name="people-circle-outline"></ion-icon>Ingresar
            </ion-button>
  
                             
            <ion-button (click)="paginaregistro()">
              <ion-icon name="person-add"></ion-icon>Registrarse
            </ion-button>
          </ion-item>
        </form>
      </ion-item>      
    </div>
</ion-content> 









