#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.my-custom-button {
  width: 280px;
  height: 40px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  /* Otros estilos personalizados */
}

ion-item {
  position: relative;
}

ion-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50px; /* Ajusta la posición de la línea según tus necesidades */
  width: calc(100% - 50px); /* Ajusta el ancho de la línea según tus necesidades */
  height: 1px;
  background-color: #000; /* Cambia el color de la línea según tus necesidades */
}

ion-content.background{
  --background: url("/assets/icon/fondo.jpg");
}