<!-- <ion-content [fullscreen]="true" class="background">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">registro</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="contenedor-login">
    <ion-item>
      <form [formGroup]="formularioRegistro" (keyup.enter)="guardar()" class="form-wrapper">

        <ion-item>
          <div class="contenedor-imagen3" >
            <ion-img src="assets/icon/images.png" class="centrado"></ion-img>
          </div>
        </ion-item>  

        <ion-item>
          <ion-icon name="logo-nodejs" class="mi-icono"></ion-icon>
          <strong class="texto-parqueadero">Registrarse</strong>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Usuario</ion-label>
            <ion-input formControlName="nombre" style="color: #007bff;"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input formControlName="password" type="password" style="color: #007bff;"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confrimar Contraseña</ion-label>
          <ion-input formControlName="confirmacion" type="password" style="color: #007bff;"></ion-input>
      </ion-item>

      <ion-item>
        <ion-button (click)="guardar()">
          <ion-icon name="save-outline"></ion-icon>Guardar
        </ion-button>
        
        <ion-button (click)="paginalogin()">
          <ion-icon name="arrow-back-circle-outline"></ion-icon>Volver
        </ion-button> 
      </ion-item>
      </form>
    </ion-item>
  </div>
</ion-content> -->


<ion-content [fullscreen]="true" class="background">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">registro</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="contenedor-login1">
    <ion-item>
      <form [formGroup]="formularioRegistro" (keyup.enter)="guardar()" class="form-wrapper1">

        <ion-item>
          <div class="contenedor-imagen3" >
            <ion-img src="assets/icon/images.png" class="centrado"></ion-img>
          </div>
        </ion-item>  

        <ion-item>
          <ion-icon name="logo-nodejs" class="mi-icono"></ion-icon>
          <strong class="texto-parqueadero">Registrarse</strong>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Usuario</ion-label>
            <ion-input formControlName="nombre" style="color: #007bff;"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input formControlName="password" type="password" style="color: #007bff;"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confrimar Contraseña</ion-label>
          <ion-input formControlName="confirmacion" type="password" style="color: #007bff;"></ion-input>
      </ion-item>

      <ion-item>
        <ion-button (click)="guardar()">
          <ion-icon name="save-outline"></ion-icon>Guardar
        </ion-button>
        
        <ion-button (click)="paginalogin()">
          <ion-icon name="arrow-back-circle-outline"></ion-icon>Volver
        </ion-button> 
      </ion-item>
      </form>
    </ion-item>
  </div>
</ion-content>
